fastapi
uvicorn
pydantic-settings
python-dotenv
sqlalchemy
psycopg[binary]
chromadb
pypdf
langchain-community
langchain-openai
langchain-google-genai
langchain-chroma
langchain-text-splitters
sqlalchemy
pg8000
langchain-huggingface
sentence-transformers
google-generativeai
python-multipart
g4f
nest_asyncio
python-docx
docx2txt
requests
langchain-cohere
cohere
pywin32